<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1000px;height:500px;"></div>
    <script src="/static/js/echarts.min.js"></script>
<script src="/static/js/beijing.js"></script>
<script>
var chart = echarts.init(document.getElementById('main'));
chart.setOption({

	  tooltip: {},
    visualMap: {
        inRange: {color: ['#008080', 'red']}
    },
    series: [{
		name:'数量',
        type: 'map',
        map: 'beijing',
		 data:[
                {name: '东城区', value:'1'},
                {name: '西城区', value: '2'},
                {name: '朝阳区', value: '3'},
                {name: '丰台区', value: '4'},
                {name: '石景山区', value: '5'},
                {name: '海淀区', value: '6'},
                {name: '门头沟区', value: '7'},
                {name: '房山区', value: '8'},
                {name: '通州区', value: '9'},
                {name: '顺义区', value: '10'},
                {name: '昌平区', value: '11'},
                {name: '大兴区', value: '12'},
                {name: '怀柔区', value: '13'},
                {name: '平谷区', value: '14'},
                {name: '密云区', value: '15'},
                {name: '延庆区', value: '16'},

            ]
     }]
});
</script>
</body>
</html>