<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1000px;height:500px;"></div>
    <script src="/static/js/echarts.min.js"></script>
<script src="/static/js/china.js"></script>
<script>
var chart = echarts.init(document.getElementById('main'));
chart.setOption({

	  tooltip: {},
     visualMap: {
        inRange: {color: ['#FF7F50', 'blue']}
    },
    series: [{
		name:'数量',
        type: 'map',
        map: 'china',
		 data:[
                {name: '北京', value:'{{ counts.0 }}'},
                {name: '天津', value: '{{ counts.1 }}'},
                {name: '上海', value: '{{ counts.2 }}'},
                {name: '重庆', value: '{{ counts.3 }}'},
                {name: '河北', value: '{{ counts.4 }}'},
                {name: '河南', value: '{{ counts.5 }}'},
                {name: '云南', value: '{{ counts.6 }}'},
                {name: '辽宁', value: '{{ counts.7 }}'},
                {name: '黑龙江', value: '{{ counts.8 }}'},
                {name: '湖南', value: '{{ counts.9 }}'},
                {name: '安徽', value: '{{ counts.10 }}'},
                {name: '山东', value: '{{ counts.11 }}'},
                {name: '新疆', value: '{{ counts.12 }}'},
                {name: '江苏', value: '{{ counts.13 }}'},
                {name: '浙江', value: '{{ counts.14 }}'},
                {name: '江西', value: '{{ counts.15}}'},
                {name: '湖北', value: '{{ counts.16}}'},
                {name: '广西', value: '{{ counts.17}}'},
                {name: '甘肃', value: '{{ counts.18}}'},
                {name: '山西', value: '{{ counts.19}}'},
                {name: '内蒙古', value: '{{ counts.20}}'},
                {name: '陕西', value: '{{ counts.21}}'},
                {name: '吉林', value: '{{ counts.22}}'},
                {name: '福建', value: '{{ counts.23}}'},
                {name: '贵州', value: '{{ counts.24}}'},
                {name: '广东', value: '{{ counts.25}}'},
                {name: '青海', value: '{{ counts.26}}'},
                {name: '西藏', value: '{{ counts.27}}'},
                {name: '四川', value: '{{ counts.28}}'},
                {name: '宁夏', value: '{{ counts.29}}'},
                {name: '海南', value: '{{ counts.30}}'},
                {name: '台湾', value: '{{ counts.31}}'},
                {name: '香港', value: '{{ counts.32}}'},
                {name: '澳门', value: '{{ counts.33}}'}
            ]
     }]
});
</script>
</body>
</html>