<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<!-- /font files  -->
<!-- css files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
{% load static %}
<body>
<h1>Login</h1>
<div class="log">
	<div class="content1">
		<h2>Login</h2>
        <div class="row">
            <h1 class="text-center">{{ message }}</h1>
        </div>
		<form action="{% url 'user:login:logic' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
			<input type="text" name="userid" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}">
			<input type="password" name="pwd" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}">
            <div valign="middle" align="middle" >
            <img id="num" src="{% url 'user:register:show' %}" width="90px" height="50px" style="margin: 20px 0 20px 0">
            <a href="javascript:void(0);" onclick="change();">换一张</a>
            </div>
            <td valign="middle" align="left">
                <input type="text"  name="number" id="vcode" value="yanzhengma" onblur="check_code()">
{#                <img id="ret" height="21px" style="vertical-align: middle">#}
                <span id="ckcode" style="color:red;"></span>
                <span id="rckcode" style="color:green;"></span>
            </td>
			<div class="button-row">
				<input type="submit" class="sign-in"  value="Sign In">
				<input type="reset" class="reset" value="Reset">
				<div class="clear"></div>
			</div>
		</form>
	</div>

	<div class="clear"></div>
</div>
<div class="footer">
	<p>Copyright &copy;  <a href="http://www.baizhiedu.com/" target="_blank" title="百知教育">百知教育</a></p>
</div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script>
        function change() {
            num = document.getElementById('num');
            num.src = "{% url 'user:register:show' %}?"+new Date().getTime();
        }

    //初始化
{#        user = $(this).val();#}
{#        xhr.open("post","{% url 'user:register:ajaxreg' %}");#}
{#        var token = "{{ csrf_token }}";#}
{#        console.log("token:"+token);#}
{#        xhr.setRequestHeader("X-CSRFToken",token);#}
{#        xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");#}
{#        xhr.send("username="+user);#}
{#        $("#ret").attr("src","{% static 'js/load.gif' %}");#}
{#        xhr.onreadystatechange=function (){#}
{#            if(xhr.readyState==4 && xhr.status == 200){#}
{#                result = xhr.responseText;#}
{#                if(result == "1"){#}
{#                    $("#ret").attr("src",'{% static 'js/ok.gif' %}');#}
{#                }else{#}
{#                    $("#ret").attr("src",'{% static 'js/error.jpg' %}')#}
{#                }#}
{#            }#}
{#        }#}
{#    });#}
        function check_code() {
                    $.ajax({
                        type:'get',
                        url:"{% url 'user:register:checkcode' %}",
                        data:'code='+$('#vcode').val(),
                        success:function (a) {
                            if(a == '1'){
                                $('#ckcode').text('');
                                $('#rckcode').text('OK');
                            }
                            else {$('#rckcode').text('');$('#ckcode').text('X');}
                        }
                    })
                }

{#        function go_form () {#}
{#                    $.ajax({#}
{#                        type:'get',#}
{#                        url:"{% url 'user:register:checkcode' %}",#}
{#                        data:'code='+$('#vcode').val(),#}
{#                        success:function (a) {#}
{#                            if(a == "1"){#}
{#                                $.ajax({#}
{#                                    type:'post',#}
{#                                    url:'{% url 'user:login:logic' %}',#}
{#                                    data:new FormData($('#login_form').get(0)),#}
{#                                    dataType:'json',#}
{#                                    processData:false,#}
{#                                    contentType:false,#}
{#                                    success:function (a) {#}
{#                                        if(a == '1')#}
{#                                        {location.href = "{% url 'main:display' %}"}#}
{#                                        else if(a =='2'){#}
{#                                            location.href = "#"#}
{#                                        }else {#}
{#                                            alert('用户名或密码错误')#}
{#                                        }#}
{#                                    }#}
{#                                })#}
{#                            }#}
{#                            else {$('#ckcode').text('X');}#}
{#                        }#}
{#                    })#}
{#                }#}


    </script>
</body>
</html>
